md-list-item {
  position: relative;
}

.emailed {
  fill: lightgrey;
}

/*
 *******************************
 LANDING PAGE
 *******************************
 */

.landing .md-button {
  color: white !important;
}

.landing-main {
  padding: 0 10%;
  background-color: rgb(76,175,80);
  color: rgba(255, 255, 255, 0.65);
  text-align: center;
  padding-bottom: 300px;
}

.landing-screenshot {
  margin-top: -300px;
}

.landing-promo {
  text-align: center;
  padding-top: 50px;

  .promo-logo {
    fill: darkgrey;
  }

  .promo h4 {
    color: grey;
  }
}

.landing-closing {
  text-align: center;
  background-color: whitesmoke;
  padding: 50px;

  h1 {
    margin: 0;
  }
}

.landing-footer {
  background-color: rgb(76,175,80);
}
