nav md-toolbar {
  padding: 0 10%;
}

.emailed {
  fill: lightgrey;
}

.searchersOnly {
  margin: 1em 0;
}

/*
 *******************************
 LANDING PAGE
 *******************************
 */

.landing {
  text-align: center;

  .landing-main {
    padding: 0 10%;
    background-color: rgb(76,175,80);
    color: rgba(255, 255, 255, 0.65);
    padding-bottom: 250px;
  }

  .landing-screenshot {
    margin-top: -250px;
  }

  .landing-promo {
    padding: 50px;

    .promo-logo {
      fill: darkgrey;
    }

    .promo h4 {
      color: grey;
    }
  }

  .landing-closing {
    background-color: whitesmoke;
    padding: 50px;

    h1 {
      margin: 0;
    }
  }

  .landing-footer {
    background-color: rgb(76,175,80);
  }
}
