{% extends "base.html" %}

{% block content %}

<div class="landing">
  <div class="landing-main">

    <md-toolbar>
      <div class="md-toolbar-tools">
        <a href="/"><span>lodjers</span></a>
        <!-- fill up the space between left and right area -->
        <span flex></span>
        <a href="/login"><md-button>Login</md-button></a>
      </div>
    </md-toolbar>

    <div layout="row" layout-align="center">
      <h1 class="md-display-3">Find your next roommate.</h1>
    </div>
    <div layout="row" layout-align="center">
      <h3 class="md-title" flex="33" flex-sm="100">Moving to a new city for an off-term or post-graduation? Find other Dartmouth students moving there too on lodjers.</h3>
    </div>
    <div layout="row" layout-align="center" layout-margin layout-padding>
      <a href="\login"><md-button class="md-raised md-accent">Sign Up</md-button></a>
    </div>
  </div>

  <div class="landing-screenshot" layout="row" layout-align="center center">
    <img src={{url_for('static', filename='img/lodjers-landing.png')}} flex="60" flex-sm="100"/>
  </div>

  <div class="landing-promo" layout="row">
    <div class="promo" layout="column" flex>
      <ng-md-icon icon="mode_edit" class="promo-logo" size="75px"></ng-md-icon>
      <div class="md-headline">Edit</div>
      <h4 class="md-subhead">Add where you're moving and your start date.</h4>
    </div>
    <div class="promo" layout="column" flex>
      <ng-md-icon icon="group" class="promo-logo" size="75px"></ng-md-icon>
      <div class="md-headline">Search</div>
      <h4 class="md-subhead">Find other Dartmouth students looking for roommates there.</h4>
    </div>
    <div class="promo" layout="column" flex>
      <ng-md-icon icon="email" class="promo-logo" size="75px"></ng-md-icon>
      <div class="md-headline">Message</div>
      <h4 class="md-subhead">Reach out to your potential roommates via blitz.</h4>
    </div>
  </div>

  <div class="landing-closing">
    <div layout="row" layout-align="center">
      <h1 class="md-display-2" flex="45" flex-sm="100">Sign up now to start looking for your next roommate.</h1>
    </div>
    <div>
      <a href="\login"><md-button class="md-raised md-accent">Sign Up</md-button></a>
    </div>
  </div>

  <div class="landing-footer">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <span flex>lodjers</span>
        <span flex></span>
        <p class="md-subhead" flex>© Copyright 2015</p></span>
      </div>
    </md-toolbar>
  </div>
</div>

{% endblock %}
