<html ng-app="lodjersApp">
  <head>
    <title>{{ title or "lodjers - Find your next roommate." }}</title>

    <meta name="description" content="lodjers helps Dartmouth students find roommates for off-terms and after graduation.">

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>

    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.9.0/angular-material.min.css">

    {% assets "css_lodjers" %}
      <link rel="stylesheet" type="text/css" href="{{ ASSET_URL }}">
    {% endassets %}
  </head>
  <body>
    <div layout="column" layout-fill>
      <md-toolbar class="md-theme-light">
        <div class="md-toolbar-tools">
          <span flex="45"></span>
          <span flex="10">lodjers</span>
          <span flex></span>
          <md-button>
            {% if current_user.is_authenticated() %}
            <a href="/logout">Logout</a>
            {% else %}
            <a href="/login">Login</a>
            {% endif %}
          </md-button>
        </div>
      </md-toolbar>
      <md-content class="md-default-theme">
        <div layout-sm="column" layout-gt-sm="row" layout-align-gt-md="center" layout-padding>
          <div flex="33" flex-order="1" flex-order-gt-sm="2">
            <div class="profile-panel">
              {% if current_user.is_authenticated() %}
                <h3>Your Profile</h3>
                <profile-form></profile-form>
              {% endif %}
            </div>
          </div>

          {% if current_user.is_authenticated() %}
          <div flex="66" flex-gt-md="50" flex-order="2" flex-order-gt-sm="1" ng-controller="MatchesController" layout-padding>
            <h3>Your Matches</h3>
            <div ng-switch="isLoading">
              <div ng-switch-when="true">
                <md-progress-circular md-mode="indeterminate"></md-progress-circular>
              </div>
              <div ng-switch-when="false">
                <div ng-if="!matches.length">
                  <h5>It looks like you don't have any matches yet!</h5>
                  <p>Edit your profile on the right to find more potential roommates.</p>
                </div>
                <md-list>
                  <user-list-item ng-repeat="user in matches | orderBy:'-joined_at'" user='user' emailedUsers='emailedUsers'></user-list-item>
                </md-list>
              </div>
            </div>
          </div>
          {% else %}
          <div flex><h3>Landing Page</h3></div>
          {% endif %}
        </div>
      </md-content>
    </div>

    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-cookies.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-messages.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/0.9.0/angular-material.min.js"></script>

    <script src="//cdn.jsdelivr.net/angular-material-icons/0.4.0/angular-material-icons.min.js"></script>

    {% assets "js_lodjers" %}
      <script src="{{ ASSET_URL }}"></script>
    {% endassets %}
  </body>
</html>
