{% extends "base.html" %}

{% block content %}

<div class="landing">
  <div class="landing-main">
    <div layout="row" layout-align="center">
      <h1 class="md-display-3">Find your next roommate.</h1>
    </div>
    <div layout="row" layout-align="center">
      <h3 class="md-title" flex="33" flex-sm="100">Moving to a new city? lodjers connects Dartmouth students for off-term and post-grad housing.</h3>
    </div>
    <div layout="row" layout-align="center" layout-margin layout-padding>
      <a href="/login"><md-button class="md-raised md-accent">Login with your NetID</md-button></a>
    </div>
  </div>

  <div class="landing-screenshot" layout="row" layout-align="center center">
    <img src={{url_for('static', filename='img/lodjers-landing.png')}} flex="60" flex-sm="100"/>
  </div>

  <div class="landing-promo" layout="row">
    <div class="promo" layout="column" flex>
      <ng-md-icon icon="mode_edit" class="promo-logo" size="75px"></ng-md-icon>
      <div class="md-headline">Edit</div>
      <h4 class="md-subhead">Add your destination city and start date.</h4>
    </div>
    <div class="promo" layout="column" flex>
      <ng-md-icon icon="group" class="promo-logo" size="75px"></ng-md-icon>
      <div class="md-headline">Search</div>
      <h4 class="md-subhead">Find Dartmouth students moving there.</h4>
    </div>
    <div class="promo" layout="column" flex>
      <ng-md-icon icon="email" class="promo-logo" size="75px"></ng-md-icon>
      <div class="md-headline">Message</div>
      <h4 class="md-subhead">Reach out to potential roommates via blitz.</h4>
    </div>
  </div>

  <div class="landing-closing">
    <div layout="row" layout-align="center">
      <h1 class="md-display-2" flex="45" flex-sm="100">Sign up now to start looking for your next roommate.</h1>
    </div>
    <div>
      <a href="/login"><md-button class="md-raised md-accent">Sign Up with your NetID</md-button></a>
    </div>
  </div>
</div>

<script>
  mixpanel.track("Visited Landing Page");
</script>

{% endblock %}
