<form name="form" ng-submit="submit()"  ng-controller="ProfileController" class="z-depth-2">
  <div class="row">
    <div class="col s8">
      <label for="nickname">Name</label>
      <input placeholder="Placeholder" id="nickname" type="text" class="validate" ng-model="user.nickname" required>
    </div>
    <div class="col s4">
      <label for="grad_year">Year</label>
      <input id="grad_year" type="number" class="validate" ng-model="user.grad_year" min="0" max="2500" required>
    </div>
    <div class="col s12">
      <label for="city">City</label>
      <input id="city" type="text" class="validate" ng-model="user.city" required>
    </div>
    <div class="col s12">
      <label for="start_date">Start Date</label>
      <input id="start_date" type="date" class="datepicker" ng-model="user.start_date" required>
    </div>
    <div class="col s6">
      <label for="time_period"># of Months</label>
      <input id="time_period" type="number" class="validate" ng-model="user.time_period" min="0" required>
    </div>
    <div class="col s6">
      <label for="number_of_roommates"># of Roommates</label>
      <input id="number_of_roommates" type="number" class="validate" ng-model="user.number_of_roommates" min="0" max="8" required>
    </div>
    <div class="input-field col s6 m12 l6">
      <input id="searching" type="checkbox" class="filled-in" ng-model="user.searching">
      <label for="searching">Searching</label>
    </div>
    <div class="input-field col s6 m12 l6">
      <input class="btn waves-effect waves-light" type="submit" id="submit" value="Update">
    </div>
  </div>
</form>
