<form name="profileForm" ng-submit="submit()"  ng-controller="ProfileController" class="md-whiteframe-z3" layout-padding>
  <div layout="row" layout-md="column">
    <md-input-container flex="66" flex-md="100">
      <label>Name</label>
      <input name="nickname" type="text" ng-model="user.nickname" required>
      <div ng-messages="profileForm.nickname.$error" role="alert">
        <span ng-message="required">Required</span>
      </div>
    </md-input-container>
    <md-input-container flex="33" flex-md="100">
      <label>Class Year</label>
      <input name="grad_year" type="number" class="validate" ng-model="user.grad_year" min="2000" max="2030" required>
      <div ng-messages="profileForm.grad_year.$error" role="alert">
        <span ng-message="required">Required</span>
        <span ng-message="min">Please enter your full class year (i.e. 2015, not 15)</span>
        <span ng-message="max">You're not that old! Enter a year between 2000 and 2500.</span>
      </div>
    </md-input-container>
  </div>
  <div layout="row" layout-md="column">
    <md-autocomplete flex="66" flex-md="100"
        md-selected-item="ProfileController.selectedItem"
        md-search-text="user.city"
        md-items="item in querySearch(user.city)"
        md-item-text="item.display"
        md-floating-label="City"
        ng-model="usercity"
        name="city"
        required>
      <span md-highlight-text="ProfileController.searchText">{{item.display}}</span>
    </md-autocomplete>
    <md-input-container flex="33" flex-md="100">
      <label>Gender</label>
      <input ng-model="user.gender" name="gender" pattern="[MF]?" required>
      <div ng-messages="profileForm.gender.$error" role="alert">
        <span ng-message="required">Required</span>
        <span ng-message="pattern">Enter either M or F</span>
      </div>
    </md-input-container>
  </div>
  <div layout="row" layout-md="column">
    <md-input-container flex="60" flex-md="100">
      <label>Start Date</label>
      <input type="date" name="start_date" ng-model="user.start_date" placeholder="yyyy-MM-dd" required />
      <div ng-messages="profileForm.start_date.$error" role="alert">
        <span ng-message="required">Required</span>
        <span ng-message="date">Not a valid date (YYYY-MM-DD).</span>
      </div>
    </md-input-container>
    <md-input-container flex="40" flex-md="100">
      <label># of Months</label>
      <input name="time_period" type="number" class="validate" ng-model="user.time_period" min="0" required>
      <div ng-messages="profileForm.time_period.$error" role="alert">
        <span ng-message="required">Required</span>
        <span ng-message="min">Please enter months greater than 0.</span>
      </div>
    </md-input-container>
  </div>
  <div layout="row" layout-md="column">
    <md-checkbox ng-model="user.searching" aria-label="Looking for a roommate?" flex="65" flex-md="100">
      Looking for roommates?
    </md-checkbox>
    <md-button class="md-raised md-primary" type="submit" flex="15" flex-md="100">Submit</md-button>
  </div>
</form>
