<md-list-item ng-controller="UserListItemController" class="md-3-line" layout="row">
  <div class="md-avatar">
    <ng-md-icon style="fill: lightpink" icon="radio_button_on" ng-if="user.new">
      <md-tooltip>
        New User!
      </md-tooltip>
    </ng-md-icon>
  </div>
  <div flex="80" class="md-list-item-text">
    <h3>{{user.nickname}}, {{user.grad_year | gradYear}}</h3>
    <div ng-switch="user.searching">
      <p ng-switch-when="true">Looking for roommates.</p>
      <p ng-switch-when="false">Not looking for roommates.</p>
    </div>

    <h4>Starting {{user.start_date | date : 'mediumDate'}} for {{user.time_period}} Months.</h4>
  </div>
  <a flex="20" ng-class="{'emailed': visited}" href="mailto:{{user.netid}}@dartmouth.edu?subject=Still looking for another roommate?&body=Hi {{user.nickname}},<br><br>I found your name through lodjers.com..." ng-click="emailed()" class="message secondary-content">
    <ng-md-icon class="md-secondary" icon="email" aria-label="Blitz!">
      <md-tooltip>
        Blitz!
      </md-tooltip>
    </ng-md-icon>
  </a>
  <md-divider></md-divider>
</md-list-item>
