<p>Hello {{recipient.nickname.split(" ")[0]}},</p>

<p>
  {{user.nickname}} has joined lodjers, and it appears they will also be in {{recipient.city}}. Do you know {{user.nickname.split(" ")[0]}}?
</p>

<p>
  Get in touch with {{user.nickname.split(" ")[0]}}, and find other new potential matches at <a href="http://www.lodjers.com">lodjers.com</a>!
</p>

<p>
  Have any suggestions for the site? Email us at <a href="mailto:support@lodjers.com">support@lodjers.com</a>.
</p>

<p>
Happy searching from lodjers!
</p>

<br><br><br>

<p>
  P.S. If you are no longer looking for a roommate and want to stop receiving these notifications, simply uncheck the <i>Looking for roommates?</i> checkbox in your lodjers <a href="http://www.lodjers.com/profile">profile</a>.
</p>
