<h1><img src="{{ url_for('static', filename='favicon.ico', _external = True) }}" style="width: 25px; height: 25px;">lodjers</h1>

<p>Welcome {{user.nickname.split(" ")[0]}},</p>

<p>
  Finding a roommate has never been easier.
</p>

<p>
  lodjers helps you find the roommates that match your off-term and/or post-grad plans!
</p>

<p>
  If you have any suggestions for the site, please send an email to <a href="mailto:support@lodjers.com">support@lodjers.com</a>.
</p>

<p>
  Now it's time to find your next roommate. Be sure to <a href="{{url_for('frontend.profile', _external = True)}}">complete your profile</a> to start receiving matches!
</p>

<p>Happy Searching,</p>

<p>Alex<br/>
<a href="http://www.lodjers.com">lodjers.com</a></p>
